.modal-content {
  background-color: rgba(20,20,20,.8);
}



.modal__heading--one {
  font-size: 25px;
}

.auth-input {
  display: block;
  margin: 5px auto 15px;
  border-radius: 50px;
  border: none;
  text-align: center;
  width: 50%;
  height: 40px;
  font-family: inherit;
}

.auth-btn {
  display: block;
  margin: 5px auto 15px;
  font-family: inherit;
  border-radius: 50px;
  padding: 10px 40px;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #1d1acc 50%);
  background-size: 245%;
  transition: all .4s;
}

.auth-btn:hover,
.auth-btn:active {
  background-position: 99%;
  color: white;
  transform: scale(1.1);
}


/* 
&__link {
  &:link,
  &:visited {
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 230%;
    transition: all .4s;
    display: inline-block;

    span {
      margin-right: 1rem;
      display: inline-block;
    }
  }

  &:hover,
  &:active {
    background-position: 100%;
    color: $color-primary;
    transform: translateX(1rem);
  } */

/* html, body {
        height: 100%;
        margin: 0;
        padding: 0;
}
 #map {
        height: 100%;
        width: 100%;
        z-index: 10;
      }*/

body {
  /*font-family: questrial;*/
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: oswald;
  height: 100vh;
  width: 100vw;

  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  max-height: 100%;
  max-width: 100%;  
  overflow-x: hidden;
  background-color: black;
}



.btn {
  /* background-image: linear-gradient(to right bottom, rgb(85, 136, 211), rgb(200,200,200)) !important; */
  background-color: transparent !important;
  border: none !important;
}

.feature-btn {
  transition: .2s;
}

.feature-btn:hover {
  transform: scale(1.2);
}

.tiny-text {
  font-size: 8px;
}

a:link {
  color: white;
}

.lefts {
  text-align: left;
  padding-left: 2%;
  /*margin-left: 0px;*/
}

.centers {
  text-align: center;
}

.rights {
  text-align: right;
  /*margin-right: 10px;*/
  padding-right: 2%;
}

#bottoms {
  /*position: absolute;*/
  /*bottom: 10%;*/
  width: 100%;
}

#row1news, #row1quote, #row1commute {
  padding-top: 1%;
}


#row-two {
  margin-top: 7%;
}

.row-4 {
  margin-top: 9%;
}

/*News CSS*/
.news-power {
  text-align: right;
  color: white;
  font-size: 8px;
}
.collapse-box {
  border-radius: 5px;
  background-color: rgba(0,0,0, 0.4);
  padding: 5%;
  margin-top: 3%;
}
.btn, .btn-info, .btn:hover {
  background: lightblue;
  border-color: black;
  font-size: 18px
}
.news-article {
  font-size: 14px;
  color: white;
  text-align: left;
}
.news-source {
  font-size: 10px;
  color: white;
  text-align: right;
}
#demo, .collapse-box {
  position: absolute;
  z-index: 999999;
  width: 80%;
}

#newGif {
  position: absolute;
  z-index: 12;
}

#gifDisplay {
  bottom: -250px;
  right: 400px;
  opacity: 1;
  z-index: 3;
}

/*Add CommentCollapse */

/*Quote CSS*/

#quote-here {
  font-size: 16px;
  /*font-weight: bold;*/
  color: white;
}

#author-here {
  font-size: 12px;
  color: white;
}

/*Commute*/



/*Weather*/
.weather-img {
  max-height: 60px;
  max-width: 60px
}

h5 {
  color: white;
  font-size: 15px;
  text-align: center;
}

h4 {
  color: white;
  font-size: 12px;
}

h3 {
  color: white;
  font-size: 30px;
}

h2 {
  color: white;
}

/*Journal Input*/
h1 {
  font-size: 35px;
  color: white;
}

input {
  color: black;
}

button {
  color: black;
}

#journal-input {
  width  : 400px;
  height : 60px;
  margin : 0 auto;

  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 10;
  
  font-size: 30px;
  color: white;
  background: transparent;
}

#journal-input#fix {
  font-size: 50px;
}

#journal-underline {
  border-bottom-style: solid;
  color: lightblue;
}

/*Credit*/



/*Journal Entries*/

/*#all-journals {
  width: 200%;
}*/

.dropdown-menu {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.4);
  white-space: wrap;
  overflow-y: scroll; 
  padding: auto;

}

#journal-entries {
  color: white;
  height: 610%;
  width: 55%;
  padding: 5%;
  margin-bottom: 5%;
  font-size: 14px;
}

/* positioning of journal entries */
ul#journal-entries{ 
  top: -245px;
  left: 195px;
  opacity: 1;
  z-index: 3;  
}

/*Settings*/

.settings {
  position: fixed;
  bottom: 10px;
  left: 20px;
}

.settings__btn {
  background-color: transparent;
}

.icon-basic-gear {
  font-size: 50px;
  color: white;
}

.dropdown-toggle {
  border: none;
}

#init-login.dropdown-menu {
  color: black;
  padding: 5px;
}

.login-submit {
  color: black;
}

#user-name{
  color: black;
}

#init-login.dropdown-menu {
  color: black;
}

#user-name {
  color: black;
}

/*/Settings*/


/* Journal */

.journal {
  position: fixed;
  right: 20px;
  bottom: 40px;
}

/* /Journal */

.credits {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

#kavivanar{
  font-family: 'Kavivanar', cursive;
    transition: all 0.2s ease-in;
    text-decoration:none;
}
#lora{
  font-family: 'Lora', serif;
    transition: all 0.2s ease-in;
    text-decoration:none;
}
#indie-flower{
  font-family: 'Indie Flower', cursive;
    transition: all 0.2s ease-in;
    text-decoration:none;
}
#bitter{
  font-family: 'Bitter', serif;
    transition: all 0.2s ease-in;
    text-decoration:none;
}
#questrial{
  font-family: 'Questrial', sans-serif;
    transition: all 0.2s ease-in;
    text-decoration:none;
}

.font-choice:hover {
  -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px yellow;
    cursor: pointer;
}



.scootch-left {
  margin-left: 40px
}

#footer {
  margin-top: 8%;
}

.button-space {
  margin: 5px;
}

.trash-style {
  float: left;
  
}
@media screen and (max-width: 980px) {



}

@media screen and (max-width: 768px) {



}

@media screen and (max-width: 640px) {

  .dropdown-menu {
    text-align: center;
    background-color:rgba(0, 0, 0, 0.9);
    white-space: wrap;
    overflow-y: scroll; 
  }

  .collapse-box {
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.9);
    padding: 5%;
    margin-top: 3%;
  }

  #journal-entries {
  color: white;
  height: 1100%;
  width: 98%;
  padding: 5%;
  margin-bottom: 5%;
  line-height: 1.5;
  font-size: 18px;
  }

  #demo{
    height: 1100%;
    width: 110%
  }
}